
<div class="whitebox">

	<h2>Eligibility Check</h2>
	
	<% form_remote_tag(:url => client_registration_path(:action => :check_eligibility)) do %>
	  <tr><td>Find: <%= text_field_tag :search_str %> 
	<%= submit_tag 'Find' %>
	<% end %>	
 
	<!--  <%= render :partial => 'people/person_list', :object => @people %> -->
	
	<div id="results">
	
	</div>
	
</div>

<div class="whitebox">
	<h2>Current Queue</h2>
	
	<%= render :partial => 'queue/queue_list', :object => @client_queue %>
</div>
