
<div class="whitebox">
	<h2>Current Queue</h2>
	
	<%= render :partial => 'queue/queue_list', :object => @client_queue %>
</div>

<div class="whitebox">

	<h2>Client Sign-In</h2>

	<%= render :partial => 'clients/client_list', :object => @clients %>

</div>