

* {
	font-family: 'Lucida Grande';
}

html {
	background-color: #B0FFFF;
}

body {
	margin-top: 10px;
}

.field {
	text-align: right;
	padding-right: 10px;
}

h1 {
	font-size: 200%;
	padding-bottom: 10px;
	font: 2em/1.1 'Lucida Grande', sans-serif;
}

h2 {
	font-size: 150%;
	margin-bottom: 1em;
}

form {
	margin-bottom: 1em;
}

p {
	font-size: 120%;
	padding-bottom: 10px;
}

td {
	padding-bottom: 15px;
}
.yui-g {
	margin-bottom: 5em;
}

.col_odd {
	background: #9BE1E1;
	padding: 10px;
}

.col_even {
	background: white;
	min-height: 3em;
	padding: 10px;
}

.whitebox {
	border: 1px solid black; 
	padding: 10px; 
	padding-left: 20px; 
	margin-top: 20px;
	margin-bottom: 20px; 
	background-color: #FFFCE1;
}

table {
	margin-top: 15px;
	margin-bottom: 15px;
}

.person_list {
	background-color: #9BE1E1;	
	width: 200px;
}

.person_list tr {
	border-color: 1px solid black;
}

.person_list td {
	padding: 10px;
	width: 30px;
}

#commands {
	background-color: #FFFCE1;
}

#hd {
	margin-top: 20px;
	margin-bottom: 20px;
}