
<h1>Clients</h1>

<% for client in @clients %>
	<p>
	<%= client.address %> 
    <%= client.people.find(:first).first_name if client.people.find(:first) %>
	<%= link_to "Show", client_path(client)%>
	</p>
<% end %>

<%= link_to 'New', new_client_path() %>